#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#about-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 1%;
}

#about-image {
    min-width: 33%;
}


#about-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: 33%;
}

.about-text h2 {
    color: #0f0;
    margin: 10px 0;
    font-size: 1.8rem;
}

.about-text p {
    display: flex;
    color: #fff;
    margin-bottom: 10px;
    text-indent: 20px;
    line-height: 1.5;
}

@media screen and (max-width: 1500px) {

    #about-container {
        flex-direction: column;
    }

    #about-image {
        display: none;
    }

}
