@media screen and (min-width: 810px) and (max-width: 992px) {

    .header .navbar {
        margin-right: 0;
    }

    .header .logo a {
        text-align: center;
        font-size: 1.5rem;
    }

    .conteiner {
        display: flex;
        flex-direction: column;
        margin: 0 10%;
    }

    .conteiner .headeline {
        height: auto;
        margin: 0 5%;
        text-align: center;
        text-align: left;
        margin-top: 15%;
    }

    .conteiner .img-headeline {
        min-height: 700px;
        margin: 5%;
        object-fit: fill;
        height: auto;
    }

    /** Ok */

    .about {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        margin-top: 65%;
        height: auto;
        width: 80%;
    }

    .about .img-container {
        display: none;
    }

    .about .curriculum {
        margin-top: 5%;
        text-align: center;
    }

    /** Ok */

    .services,
    .portfolio {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 10%;
        height: auto;
        width: 90%;
    }

    .services .container,
    .portfolio .container {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        gap: 10px;
        justify-content: center;

    }

    .services .card,
    .portfolio .container .card {
        min-height: 300px;
    }

    .contact h3,
    .portfolio h3,
    .services h3 {
        font-size: 2rem;
    }

    .input .btn {
        padding: 12px 25px;
        font-size: 1rem;
    }
}