@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: "Roboto", serif;
}

body {
    background: #1F2235;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.header {
    position: fixed;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 10vh;
    background-color: #1F2235;

    /* border: 2px solid #00ff00; */
}

.logo {
    display: flex;
    flex: 30%;
    align-items: center;
    justify-content: center;

    /* border: 2px solid #00ff00; */


}

.logo a {
    font-size: 2rem;
    font-family: "Neonderthaw", serif;
    color: #00ff00;
}

.navbar {
    display: flex;
    flex: 60%;
    align-items: center;
    justify-content: end;

    margin-right: 10%;

    /* border: 2px solid #00ff00; */
}

.navbar a {
    padding: 12px 19px;
    color: #fff;


}

.navbar a:hover {
    color: #00ff00;
    border-bottom: 3px solid #00ff00;
}

.conteiner {
    display: flex;
    margin: 0 10%;
    height: 90vh;
    width: auto;
    margin-top: 10vh;

    /* border: 2px solid #00ff00; */
}

.headeline {
    display: flex;
    flex: 40%;
    justify-content: center;
    flex-flow: column wrap;

    /* border: 2px solid #00ff00; */
}

.img-headeline {
    display: flex;
    flex: 40%;
    background: url('../img/img-bg.png');
    background-position: center;
    background-size: cover;
    min-height: 700px;
    justify-content: center;
    align-items: center;

    /* border: 2px solid #00ff00; */
}

.img-headeline img {
    border-radius: 45%;
}

.headeline h2 {
    color: #00ff00;
    font-size: 1.5rem;
    font-weight: 900;
}

.headeline h1 {
    font-size: 2.3rem;
    color: #fff;
    margin: 1% 0;
}

.headeline p {
    color: #fff;
    line-height: 1.8;
    font-weight: 300;
}

.social-media {
    display: block;
}

.social-media i {
    color: #00ff00;
    border: 3px solid #00ff00;
    border-radius: 50%;
    padding: 15px;
    margin-right: 10px;
    margin-top: 20px;
}

.social-media i:hover {
    background-color: #00ff00;
    color: #fff;
}

.about {
    display: flex;
    height: 100vh;
    width: 80%;
    margin: 10% 10%;
    color: #fff;
    align-items: center;

    /* border: 2px solid #00ff00; */
}

.img-container {
    flex: 40%;

}

.infor-container {
    flex: 40%;
}

.infor-container h2 {
    font-size: 2rem;
    margin-bottom: 5px;
    font-weight: 900;
}

.infor-container .presentation {
    line-height: 1.8;
}

.description {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    margin-top: 15px;
}

.my-data {
    flex: 20%;
}

.data {
    flex: 20%;
}

.my-data div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.my-data p,
span {
    display: block;
    margin-top: 15px;
    font-weight: 700;
}

.data p {
    margin-top: 15px;
    margin-left: 5px;
}

.curriculum a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00ff00;
    border-radius: 10px;
    color: #fff;
    margin-top: 20px;
}

.curriculum a:hover {
    background-color: #fff;
    color: #00ff00;
}

.services {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    height: 100vh;
    margin: 0 10%;
    width: 80%;

    /* border: 2px solid #00ff00; */
}

.title {
    margin-top: 15vh;
}

.contact h3,
.portfolio h3,
.services h3 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    margin-top: 5%;
}

.contact h3 span,
.portfolio h3 span,
.services h3 span {
    display: inline-block;
    color: #00ff00;
}

.portfolio p,
.services p {
    color: #fff;
}

.line {
    height: 2px;
    width: 7%;
    background-color: #00ff00;
    margin: 0 auto 5%;
}

.services .cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.services .container {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 20px;
    justify-content: center;
}

.card {
    background: rgba(18, 18, 52, .5);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #FFF;
}

.icon {
    font-family: 'FontAwesome';
    font-size: 30px;
    color: #00ff00;
    margin-bottom: 10px;
    border: 2px solid #00ff00;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
}

.services .container .card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.portfolio {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    height: 100vh;
    width: 80%;
    margin: 0 auto;

    /* border: 2px solid #00ff00; */
}

.portfolio .container {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 20px;
    justify-content: center;
}

.portfolio .cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.portfolio .container .card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.contact {
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

    /* border: 2px solid #00ff00; */
}

.contact .input {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 1%;
}

.contact .input input {
    background: transparent;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 255);
    width: 30%;
    height: 45px;
    color: #FFF;
    padding: 0 10px;

}

.contact .input input:focus {
    border-color: #00ff00;
}

.contact .input input::placeholder,
textarea::placeholder {
    text-indent: 10px;
}

.contact textarea {
    background: transparent;
    border: 1px solid #FFF;
    margin: 3% auto 0;
    width: 92%;
    height: 150px;
    color: #FFF;
    padding: 10px;
}

.contact textarea:focus {
    border-color: #00ff00;
}

.input .btn {
    display: block;
    padding: 14px 50px;
    text-align: center;
    margin: 5% auto;
    background: #00ff00;
    color: #FFF;
    border-radius: 5px;
    font-weight: 600;
}

.btn:hover {
    background-color: #fff;
    color: #00ff00;
}